node_modules
.env
coverage
coverage.json
typechain
platform.sol
.eslintignore
.eslintrc.js
.npmignore
.prettierignore
.prettiererrc
.solhint.json
.solhintignore
test
deploy.js

#Hardhat files
cache
artifacts
